<div class="contact-container">
	Name: <%= contact.full_name %><br>
	Email: <%= contact.email_address %><br>
	Phone: <%= contact.display_phone_number %><br>
	Company: <%= contact.company_name %><br>
	International: <%= contact.international %><br>
	<%= link_to "Delete Contact", contact_path(contact), method: :delete %>
</div>